body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #2e8b57;
    color: white;
    text-align: center;
    padding: 10px 0;
}

section {
    text-align: center;
    margin: 20px;
}

#map-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
}
